#cloud-config
# vim: syntax=yaml
#
# ***********************
#   ---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#

ssh_pwauth: True
chpasswd:
  list: |
     root: StrongPassword
  expire: False

#   This will set root password to StrongPassword
#   Add user named jmutai with specified Public SSH keys
#   The user will be added to wheel group and be allowed to run sudo commands without password.
users:
  - name: user01
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDd2dF9WPGVi10eCBsMn6EpBRPaBpLd5A6yrCf8wPIzxozMNXTcrlKHX1BOuq2NnD7Fxmgx9JExYwDjhMoD+1CjO8zbF6AjsFPsBj7cdSbWhQ44C3UUvRWvTKpR7+IMQEjCezyELcN0kJ0cObqTXtHHkX19DmSCnY+toU/bK5ZtyWJ1SOvHbo9fnSyhVV+NwNopd3i92W5kV6JL+DqvYld/ASbQTEAGSw9ZGzZsD/LgRevc0JYzNexA9R+jXkmCXS6rp5aENvfrLxb2lQS73+Lvg7oaiHbQ2XdtSo/Ha5/d0qcV4ojNW30Ly8I/KF3HXRJlcj6a4fe08mQkV5LAI2+t
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: wheel
